#engranaje{
    width: 150px;
    height: auto;
}

.boxed {
    border: 1px solid lightblue;
    margin-left: 20%;
    margin-right: 20%;
    alignment-adjust: middle;
}

.alinear{
     box-sizing: border-box;
}

