#engranaje{
    width: 150px;
    height: auto;
}

.boxed {
    border: 1px solid lightblue;
    margin-left: 20%;
    margin-right: 20%;
    alignment-adjust: middle;
}

.alinear{
    box-sizing: border-box;
}

.ventanaSolicitud{
    text-align: center;
    margin-left: 15%;
    margin-right: 10%;
}

.ventanaSolicitudReg{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.bordeInferior{
    border-bottom: 3px solid black;
}

.tablaListado{
    border-collapse: collapse;
    background-color: lightblue;
}

.ladosTablaListado{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

.botonCentro{
    position:absolute;
    top: 30%;
    left: 45%;
}

.centrar{
    text-align: center;
}

.botonFormatoVerde{
    background-color: #4CAF50; /* Green */
    border:none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}

.botonFormatoRojo{
    background-color: #f44336; /* Red */
    border:none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}