<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Admin/listado</display-name>
        <web-resource-collection>
            <web-resource-name>Admin/listado</web-resource-name>
            <description/>
            <url-pattern>/presentation/users/Admin/Lista</url-pattern>
            <url-pattern>/presentation/users/Admin/comenzar_filtrado</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Admin/solicitud</display-name>
        <web-resource-collection>
            <web-resource-name>Admin/solicitud</web-resource-name>
            <description/>
            <url-pattern>/presentation/users/Admin/nuevaSolicitud</url-pattern>
            <url-pattern>/presentation/users/Admin/agregarBien</url-pattern>
            <url-pattern>/presentation/users/Admin/ingresarSolicitud</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Admin/edicion</display-name>
        <web-resource-collection>
            <web-resource-name>Admin/edicion</web-resource-name>
            <description/>
            <url-pattern>/presentation/users/Admin/Regresar</url-pattern>
            <url-pattern>/presentation/users/Admin/GuardarCambiosEdicion</url-pattern>
            <url-pattern>/presentation/users/Admin/BorrarBien</url-pattern>
            <url-pattern>/presentation/users/Admin/verSolicitud</url-pattern>
            <url-pattern>/presentation/users/Admin/Edicion</url-pattern>
            <url-pattern>/presentation/users/Admin/agregarBienEdicion</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Secretaria</display-name>
        <web-resource-collection>
            <web-resource-name>Secretaria</web-resource-name>
            <description/>
            <url-pattern>/presentation/users/Secretaria/Lista</url-pattern>
            <url-pattern>/presentation/users/Secretaria/comenzar_filtrado</url-pattern>
            <url-pattern>/presentation/users/Secretaria/verSolicitud</url-pattern>
            <url-pattern>/presentation/users/Secretaria/Valoracion</url-pattern>
            <url-pattern>/presentation/users/Secretaria/AprobarSolicitud</url-pattern>
            <url-pattern>/presentation/users/Secretaria/RechazarSolicitud</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>SOCCB</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Jefe</display-name>
        <web-resource-collection>
            <web-resource-name>Jefe</web-resource-name>
            <description/>
            <url-pattern>/presentation/users/Jefe/Asignacion</url-pattern>
            <url-pattern>/presentation/users/Jefe/comenzar_filtrado</url-pattern>
            <url-pattern>/presentation/users/Jefe/asignar_registrador</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>JOCCB</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>SistemaGestorActivosRealm</realm-name>
        <form-login-config>
            <form-login-page>/presentation/prepareLogin</form-login-page>
            <form-error-page>/presentation/prepareLogin</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>AdministradorDeDependencia</description>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description>SecretariaDeOccd</description>
        <role-name>SOCCB</role-name>
    </security-role>
    <security-role>
        <description>JefeDeOccd</description>
        <role-name>JOCCB</role-name>
    </security-role>
    <security-role>
        <description>Registrador</description>
        <role-name>Registrador</role-name>
    </security-role>
    <security-role>
        <description>JefeDeRrhh</description>
        <role-name>JefeRH</role-name>
    </security-role>
</web-app>
